@model EventSchedularNew.Models.MeetingLogin
@{
    ViewBag.Title = "SelectSchedule";
}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<html>

<body>
    <div style="margin-top:3%;margin-bottom:30%;padding-bottom:50%;padding-top:3%;">
        <div class="container table-bordered" style="width:60%;border-color:#004d7b;margin-right:22%;margin-bottom:20%;">
            <div class="col-sm-12" style="text-align:center;padding:2.5%">
                <h1>
                    <u> Online Conference Room Booking</u>
                </h1>
                <br />
            </div>
            <br />
            <div class="col-sm-12" style="margin-left:-10%">
                <div class="col-sm-12" style="padding-bottom:4.5%">
                    <span class="col-sm-6" style="text-align:right">
                        <label>Plant Name:</label>
                    </span>
                    <span class="col-sm-6" style="margin-left:-2%;width:52%;">
                        @Html.DropDownListFor(a => a.PlantID, Model.SelectPlant,"--Select--", new { @id = "ddlplantname", @Style = "padding:1%;width:100%", @class = "form-control" })
                    </span>
                </div>
                <div class="col-sm-12" style="padding-bottom:4.5%">
                    <span class="col-sm-6" style="text-align:right">
                        <label>Unit Name :</label>
                    </span>
                    <select style="width:100%;padding:1%;" id="ddlUnit" class="form-control">
                        <option value="0">--Select--</option>
                    </select>
                </div>

                <div class="col=sm-12" style="padding-bottom:4.5%">
                    <span class="col-sm-6" style="text-align:right">
                        <label>Department Name:</label>
                    </span>
                    <select style="width:100%;padding:1%;" id="ddlDept" class="form-control">
                        <option value="0">--Select--</option>

                    </select>
                </div>

                <div class="col=sm-12" style="padding-bottom:4.5%">
                    <span class="col-sm-6" style="text-align:right">
                        <label>Staff Name:</label>
                    </span>
                    <select style="width:100%;padding:1%;" id="ddlStaff" class="form-control">
                        <option value="0">--Select--</option>

                    </select>
                </div>

                <div class="col=sm-12" style="padding-bottom:4.5%">
                    <span class="col-sm-6" style="text-align:right">
                        <label>Booking Room:</label>
                    </span>
                    <select style="width:100%;padding:1%;" id="ddlRoom" class="form-control">
                        <option value="0">--Select--</option>

                    </select>
                </div>

                <div class="col-sm-12" style="text-align:right;padding-bottom:8.5%;padding-top:5.5%;padding-right:29.5%">
                    <button class="btn btn-success" id="btnsch" onclick=Schedule()>Go To Schedular</button>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    $(function () {
        $('#ddlplantname').val(0);
    });
    $('#ddlplantname').on('change', function () {       
        newdata();
        debugger;
        });

    function newdata() {
       
        var plantID = $('#ddlplantname').val();
        $.ajax({
            url: "/Home/SELUnit",
            data: { plantid: plantID },
            dataType: 'json',
            success: function (res) {
                if (res.length > 0) {
                    $('#ddlUnit').empty();
                    $.each(res, function (key, value) {
                        
                        $('#ddlUnit').append($("<option></option>").attr("value", value.Value).text(value.Text));
                    });
                }
                $('#ddlUnit').val(0);
            }
        });
    }

    $('#ddlUnit').on('change', function () {
      
        var Plantid = $('#ddlplantname').val();
        var Unitid = $('#ddlUnit').val();
        $.ajax({
            url: "/Home/SELDept",
            data: { plantid: Plantid, unitid: Unitid },
            dataType: 'json',
            success: function (res) {
                if (res.length > 0) {
                    $('#ddlDept').empty();
                    $.each(res, function (key, value) {
                        $('#ddlDept').append($("<option></option>").attr("value", value.Value).text(value.Text));

                    }); 


                }
            }
        });
    });

    $('#ddlDept').on('change', function () {
        
        var Plantid = $('#ddlplantname').val();
        var Unitid = $('#ddlUnit').val();
        var Deptid = $('#ddlDept').val();
        var Empmode = 1;
        $.ajax({
            url: '/Home/SELStaff',
            data: { plantid: Plantid, unitid: Unitid, deptid: Deptid, empmode: Empmode },
            dataType: 'json',
            success: function (resstaff) {
                if (resstaff.lstStaff.length > 0) {
                    $('#ddlStaff').empty();
                    $.each(resstaff.lstStaff, function (key, value) {
                        $('#ddlStaff').append($("<option></option>").attr("value", value.Value).text(value.Text));
                    });
                    if (resstaff.lstStaff.length > 0) {
                        $('#ddlRoom').empty();
                        $.each(resstaff.lstRoom, function (key, value) {
                            $('#ddlRoom').append($("<option></option>").attr("value", value.Value).text(value.Text));
                        });
                    }
                }
            }

        });

    });

    function Schedule() {
        if ($('#ddlplantname').val() == '0') {
            alert('Please Select Plant Name');
            return;
        }
        else if ($('#ddlUnit').val() == '0') {
            alert('Please Select Unit Name');
            return;
        }
        else if ($('#ddlDept').val() == '0') {
            alert('Please Select Department Name');
            return;
        }
        else if ($('#ddlStaff').val() == '0') {
            alert('Please Select Staff Name');
            return;
        }
        else if ($('#ddlRoom').val() == '0') {
            alert('Please Select Room');
            return;
        }
        else {
            
            var eveData = {
                empid: $('#ddlStaff').val(),
                EmpName: $('#ddlStaff option:selected').text(),
                RoomID: $('#ddlRoom').val(),
                RoomName: $('#ddlRoom option:selected').text()
            }
            var p = $.param(eveData)
            //var empId = $('#ddlStaff').val();
            //var empName = $('#ddlStaff option:selected').text();
            //var roomId = $('#ddlRoom').val();
            //var roomName = $('#ddlRoom option:selected').text();
            //window.location.href = '/Home/Index1?employeeId=' + empId + '&employeeNme=' + empName + '&roomID=' + roomId + '&roomName=' + roomName ;
            window.location.href = '/Home/Calender?' + p;
        }
    }

    

   



</script>
